# Archivos de compilación y dependencias
/bin/
/build/
*.class
*.jar
*.war
*.ear

# Configuración de IDEs
.vscode/
.idea/
*.iml

# Archivos de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties

# Archivos de Gradle
.gradle/
build/
*.gradle.lock

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp
hs_err_pid*

emptyFile.txt
testFile.txt
testDirectory